@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="profile-container">
    <img src="~/images/profile.jpg" alt="Your Name" class="profile-pic" />
    <h1 class="profile-name">Mahmoud Reda</h1>
    <p class="profile-role">Backend Developer | C# & .NET Core</p>
    <p class="profile-bio">
        Passionate software developer from Egypt, specializing in backend development with C#, .NET Core, and SQL Server.
        I love building scalable web applications, exploring advanced algorithms, and constantly improving my skills.
    </p>

    <div class="social-links">
        <a href="https://github.com/mahmoudreda4424" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/mahmoudredaprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/MahmoudRedaProfile/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@@MahmoudRedaPro/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/mahmoudreda4424/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>
